table{
    border-collapse: collapse;
    text-align: center;
    font-family: Charcoal,sans-serif;
    font-size: 1em;
}
table, th, td {
    border: 1px solid black;
}
th:not(:first-child) {
    width: 50px;
    height: 50px;
}
table button{
   /* width: 100px;
    height: 40px;*/
}
.productImage {
    width: 30px;
    height: 50px;
}
#loginData{
    display:none;
}
#loginWrapper{
    float:right;
}
#loginData input{
    margin:10px 10px;
}
#loginError{
    color:red;
    font-family: Charcoal,sans-serif;
    font-size: 1em;
    display: none;
}