table{
    margin:0 auto;
    border-collapse: collapse;
    text-align: center;
    font-family: Charcoal,sans-serif;
    font-size: 1em;
}
table a{
    text-decoration: none;
}
table, th, td {
    border: 1px solid black;
}
table th{
    width: 200px;
    height: 100px;
}
.productImage {
    width: 70px;
    height: 120px;
}
.productImageWrapper img{
z-index: -1;
}
.addNewImage{
    margin-left:40px;
}
#loginData{
    display:none;
}
#loginWrapper{
    float:right;
    border: 2px solid #a1a1a1;
    padding: 10px 0;
    background: #dddddd;
    width: 300px;
    border-radius: 25px;
    text-align: center;
}
#loginData input{
    margin:10px 10px;
    padding-left: 10px;
    border-radius: 8px;

}
#loginData input:nth-of-type(2){
    margin-left: 14px;
}
#adminLoginButton{
    border: none;
    color: lightseagreen;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 1px 2px;
    border-radius: 8px;
}
#submitButton{
    border: 1px solid deepskyblue;
    color: lightseagreen;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 1px 2px;
    border-radius: 8px;
}
#loginError{
    color:red;
    font-family: Charcoal,sans-serif;
    font-size: 1em;
    display: none;
}
#cart img{
width: 100px;
height: 100px;
padding-left: 60px;
}

#cart{
font-size: 2em;
font-family: "Book Antiqua",sans-serif;

}
#cart a{
    text-decoration: none;
}
.freeSpace{
    clear: both;
}
#shopFromUs{
    text-align: center;
    margin: 0 auto;
    font-family: "Book Antiqua",sans-serif;
    font-size: 2em;
    margin:30px 10px;

}
#shopFromUs a{
    text-decoration: none;
}
.processOrder a{
    text-decoration: none;
}
#userDetails{
    text-align: center;
    margin: 0 auto;
}

#userDetails input{
    margin:5px 10px;
    border-radius: 10px;
    padding-left: 10px;
}
#userDetails input:nth-of-type(2){
    margin-left:12px;
}

#userDetails input:nth-of-type(3){
    margin-left:42px;
}
#userInformationsTitle{
    margin: 0 auto;
    text-align: center;
    font-family: "Book Antiqua",sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
}
#addProductButton{
    text-align: center;
    margin: 0 auto;
}
#addProductButton a{
    text-decoration: none;
    font-family: "Book Antiqua",sans-serif;
    font-size: 2em;
    color: goldenrod;
}
.returnMainPage{
    text-align: center;
    margin: 0 auto;
    font-family: "Book Antiqua",sans-serif;
    font-size: 2em;
    margin:30px 10px;
}
#footer {
    position: relative;
    right: 0;
    bottom: 0px;
    left: 0;
    background-color: #dddddd;
    text-align: center;
}